.dropdown-menu {
	max-height: 256px;
	overflow-y: auto;
	overflow-x: hidden;
	padding-right: 20px;
	font-size: 12px;
}
.ui-autocomplete{
    max-height: 256px;
	overflow-y: auto;
	overflow-x: hidden;
	padding-right: 20px;
	font-size: 12px;
}